input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /*Esto deberia remover las flechas del Input type number*/
    -webkit-appearance: none;
    margin: 0; 
}

input[type=number] {
    -moz-appearance:textfield;
}

.gallery-container {
  position: relative;
  overflow: hidden;
  height: auto;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  z-index: 0;
}

.slide.active {
  opacity: 1;
  z-index: 1;
  position: relative;
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-size: 2rem;
  padding: 10px;
  cursor: pointer;
  z-index: 2;
  user-select: none;
  border: none;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}
